.login-cart{
    width: 120px;
    color: white;
    text-decoration: none;
}
.banner{
    padding-top: 0px;
    
}
.nameshop{
    font-size: 25px;
    font-weight: bold;
    background-color: red;
    
}
.nav_header{
    width: 40px;
}